body,h1,h2,h3,h4,h5{ height:100%;
font-family: 'Indie+Flower',sans-serif;
}

.landing{
    height:100%;
    width:100%;
    background-color: aqua;
}
.about{
     height:100%;
    width:100%;
    background-color: black;

}
.services{
     height:100%;
    width:100%;
    background-color: white;
/*    background-image:url(../images/services.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.contact{
     height:100%;
    width:100%;
    background-color: white;

}
