body{ height:100%;}

.landing{
    height:100%;
    width:100%;
}
.about{
     height:100%;
    width:100%;
}
.services{
     height:100%;
    width:100%;
}
.contact{
     height:100%;
    width:100%;
}
